/* ==========================================================================
   Global app/site styles
   ========================================================================== */
body {
	background-color: $color-background;
	background: url(../images/influence-hub-bg-copy.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: fixed;
	background-color: #9a9a9a;
}

.masthead, .footer {
	width: 100%;
	margin: 0 auto;
}

.copyText {
	width: 95%;
	max-width: 950px;
	margin: 0 auto;


}

.masthead {
	background-color: $header-background;
	margin-bottom: 10px;
	padding: 30px 30px 5px;
	text-align: center;
	margin-top: 10px;

	@include respond-min($breakpoint-mid) {
		margin-top: 50px;
		text-align: left;
	}

	.influence {
		margin-bottom: 15px;

		@include respond-min($breakpoint-mid) {
			margin-bottom: 0;
		}
	}
}

.formContainer {
	@include respond-min($breakpoint-mid) {
		float: right;
		text-align: right;
		overflow: hidden;
	}
}

.search-icon {
	display: none;

	@include respond-min($breakpoint-mid) {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
}

.search-bar {

	width: 100%;

	@include respond-min($breakpoint-mid) {
		width: 0px;
		display: inline-block;
		opacity: 0;

		.isOpened & {
			width: 250px;
			opacity: 1;
		}
	}
}

.show-form {
	display: inline-block;
	margin: 0 !important;
	width: 100%;

	position: relative;

	transition: all 200ms ease-in-out;

	@include respond-min($breakpoint-mid) {
		width: 250px;
		margin-right: 30px;
	}
}

// ------------------------ content -----------------------------

.show-bar {
	background-color: $orange;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	content: '';
	display: block;

	p{
		margin-bottom: 0;
	}
}

.show-bar--active {
	background-color: white;
	color: $orange;
	text-align: center;
	font-weight: bold;
	cursor: pointer;

	p{
		margin-bottom: 0;
	}
}

.blogTable {
	margin-top: 10px;

	@include respond-min($breakpoint-narrow) {
		width: 101%;
	}
	@include respond-min($breakpoint-wide) {
		width: 102%;
	}
}

.opener {
	background-color: $orange;
	padding: 20px 35px;
	color: white;
	font-style:italic;
	display: none;
}

.content {
	background-color: $gray;
	 @include linear-gradient(#9f9f9f, #bdbdbd, vertical, true);
}

.header {
	background-color: $orange;
	padding: 5px 15px;

	@include respond-min($breakpoint-mid) {
		padding: 5px 30px;
	}

	h1 {
		margin: 0;
	}
}

.meta {
	padding: 5px 15px;

	p, a {
	margin: 0;
	font-size: 0.7rem;
	color: black;
	}

	p span {
		font-weight: bold;
		font-style: normal;
	}
}

.archive p {
		color: black;
		font-style: normal !important;
		font-size: 0.7rem;
	}

.archivePosts {
	list-style-type: none;
}

.post{
	padding: 5px 15px;

	p {
		color: black;
		font-style: normal !important;
		font-size: 0.7rem;
	}

	img {
		// width: 100%;
		height: auto;
		text-align: center;
		margin: 0 auto;
		display: block;
	}
}

.aligncenter {
	margin: 0 auto;
}
.comments-area {
	background-color: white;
	padding: 5px;
	color: $gray;

	label {
		color: darken($gray, 20%);
	}

	textarea#comment {
		width: 100%;
		margin-bottom: 8px;
	}
}


// ------------------------ footer -----------------------------
.footer {
	background-color: $orange;
	padding: 5px 35px;
	color: white;
	position: relative;
	margin-top: 10px;

	p, a {
		text-align: center;
		display: block;
		margin: 2px 0;
		color: white;
		font-weight: bold;

		@include respond-min($breakpoint-mid) {
			margin: 0;
			display: inline-block;
			font-size: 14px;
		}
	}

	.old {
		float: none;

		@include respond-min($breakpoint-mid) {
			float: left;
		}
	}

	.new {
		float: none;

		@include respond-min($breakpoint-mid) {
			float: right;
		}
	}
}

.copyText {
	text-align: right;
	margin-top: 5px;
	position: relative;

	p {
		font-style: normal;
		color: black;
		font-size: 0.5rem;
		font-weight: bold;
	}
}

/* ==========================================================================
   Media queries for responsive design
   ========================================================================== */

/*
   Retina media query
   ========================================================================== */
@include hidpi() {

}



// === $breakpoint-narrow> ===
@include respond-min($breakpoint-narrow) {

}
// === end $breakpoint-narrow> ===



// === $breakpoint-mid> ===
@include respond-min($breakpoint-mid) {

}
// === end $breakpoint-mid> ===


// === $breakpoint-wide> ===
@include respond-min($breakpoint-wide) {

}
// === end $breakpoint-wide> ===


// === $breakpoint-huge> ===
@include respond-min($breakpoint-huge) {

}
// === end $breakpoint-huge> ===
