.blogList{
  & li {
    overflow: hidden;
    position: relative;
    float: left;
  }

  .no-js & {

    @include respond-min($breakpoint-mid){
      margin-left: -4%;

      & li {

        height: auto;
        margin-left: 4%;
        width: 46%;
        margin-bottom: 4%;
        overflow: hidden;
      }
    }

    @include respond-min($breakpoint-wide){
      margin-left: -2%;

      & li {
        margin-left: 2%;
        width: 31.3%;
        margin-bottom: 2%;
      }
    }
  }


  .js & {
    & li {
      width: 100%;
    }
    @include respond-min($breakpoint-mid){

      & li {
        float: left;
        width: 49%;
      }
    }

    @include respond-min($breakpoint-wide){

      & li {
        width: 32%;
      }
    }
  }
}

.gutter-sizer {
  width: 0;
  @include respond-min($breakpoint-mid){
  }
    width: 1%;
}

.grid-sizer {
  @include respond-min($breakpoint-mid){
    width: 49%;
  }
  @include respond-min($breakpoint-wide){
    width: 32%;
  }
}

.effeckt-caption {
  position: relative;
}

// overlay absolute
.effeckt-caption figcaption {
position: absolute;
-webkit-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;
width: 100%;

background-color: rgba(0,0,0,0.5);

  p {
    margin: 0;
  }
}

.effeckt-figcaption-wrap h3 {
  color: white;
}

.effeckt-caption figcaption {
  bottom: 0;
  left: 0;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  text-align: center;
  opacity: 0;

  padding: 10px;
}

.effeckt-caption img {

  transition: 500ms;

  width: 100%;
  height: auto;
  display: block;
}

.effeckt-caption:hover figcaption,
.effeckt-caption:active figcaption,
.effeckt-caption.active figcaption {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.effeckt-caption:hover img,
.effeckt-caption:active img,
.effeckt-caption.active img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}