/*
   Block grids

   These are 2-up, 3-up, 4-up and 5-up ULs, suited for repeating blocks of content. Add 'mobile' to them to switch them just like the layout grid (one item per line) on phones. For IE7/8 compatibility blockGrid items need to be the same height. You can optionally uncomment the lines below to support arbitrary height, but know that IE7/8 do not support :nth-child.

   Usage:
   <ul class="l-blockGrid l-blockGrid--twoUp">
       <li></li>
   </ul    ========================================================================== */
.l-blockGrid {
	display: block;
	list-style-type: none;
	@include clearfix;

	& li {
		display: block;
		height: auto;
	}
}

// === <$breakpoint-single-col ===
@include respond-min($breakpoint-single-col) {
	.l-blockGrid {
		& li {
			display: block;
			height: auto;
			float: left;
		}

		&.l-blockGrid--twoUp {
			margin-left: -4%;

			& li {
				margin-left: 4%;
				width: 46%;
				margin-bottom: 4%;
				//&:nth-child(2n+1) {clear: left;}
			}
		}

		&.l-blockGrid--threeUp {
			margin-left: -2%;

			& li {
				margin-left: 2%;
				width: 31.3%;
				margin-bottom: 2%;
				//&:nth-child(3n+1) {clear: left;}
			}
		}

		&.l-blockGrid--fourUp {
			margin-left: -2%;

			& li {
				margin-left: 2%;
				width: 23%;
				margin-bottom: 2%;
				//&:nth-child(4n+1) {clear: left;}
			}
		}

		&.l-blockGrid--fiveUp {
			margin-left: -1.5%;

			& li {
				margin-left: 1.5%;
				width: 18.5%;
				margin-bottom: 1.5%;
				//&:nth-child(5n+1) {clear: left;}
			}
		}
	}

}
// === end <$breakpoint-single-col ===
