/* ==========================================================================
   Forms
   * Generic form styles
   * Form inputs and groups
   * Form field feedback states
   * Horizontal & vertical forms
   * Horizontal-specific styles
   ========================================================================== */


/* ==========================================================================
   Generic form styles
   * Demo: http://tmwagency.github.io/kickoff/demos/forms.html#layout-example-labels-above
   * Code: https://gist.github.com/mrmartineau/6712577#file-labels-above-inputs-html
   Usage:
    <ul>
    	<li class="form-controlGroup">
    		<label for="name" class="form-controlGroup-label">Name</label>
    		<div class="form-controlGroup-input">
    			<input type="text" id="name" placeholder="Zander Martineau" />
    		</div>
    	</li>
    </ul>
   ========================================================================== */
form {
	margin: 0 0 ($base-line-height + px);

	ul {
		@extend .unstyled;
	}
}

/* Fieldset */
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

/* ==========================================================================
   Form inputs and groups
   ========================================================================== */
.form-controlGroup {
	margin-top: ($base-line-height / 2 + px);
	list-style-type: none;

	// Legend collapses margin, so next element is responsible for spacing
	legend + & {
		margin-top: $base-line-height + px;
		-webkit-margin-top-collapse: separate;
	}
}

// Set font for forms
label,
input,
button,
select,
textarea {
	@include font-size($base-font-size);
	line-height: $base-leading;
	font-weight: normal;
	vertical-align: baseline;
	*vertical-align: middle;
}

// And only set font-family here for those that need it (note the missing label element)
input,
button,
select,
textarea {
	font-family: $base-font-family;
}

// Identify controls by their labels
label {
	display: block;
	margin-bottom: 5px;
	color: $label-color;
	font-weight: bold;

	& small {
		font-weight: normal;
		color: lighten($label-color, 30%);
	}

	&.checkbox,
	&.radio {
		font-weight: normal;
		line-height: 1.4;
	}

	// Inputs within a label
	& input,
	& textarea,
	& select {
		display: block;
	}
}

// Inputs, Textareas, Selects
// fluid width by default

input,
textarea,
select,
.fileWrapper {
	display: block;
	// height: 2.5em;
	padding: 2px 6px;
	// margin-bottom: 9px;
	font-size: 0.6rem;
	line-height: $base-leading;
	color: $input-color;
	background-color: $input-background;
	border: 1px solid $input-border;

}
input {
	@include border-radius(25px);
}

.textarea--uneditable {
	width: auto;
	height: auto;
}


// Mini reset for unique input types
input {
	&[type="image"],
	&[type="checkbox"],
	&[type="radio"],
	&[type="range"] {
		width: auto;
		height: auto;
		padding: 0;
		margin: 3px 0;
		line-height: normal;
		cursor: pointer;
		@include border-radius(0);
		@include box-sizing(border-box);
		// border: 0 \9; // IE9 and down
	}

	&[type="image"] {
		border: 0;
	}
	// Reset the file input to browser defaults
	&[type="file"] {
		width: auto;
		height: 28px;
		padding: initial;
		line-height: initial;
		border: initial;
		background-color: $input-background;
		background-color: initial;
		@include box-shadow(none);
	}

	// Remove shadow from image inputs
	&[type="image"],
	&[type="range"],
	&[type="range"]:focus {
		@include box-shadow(none);
	}

	// Hidden inputs
	&[type="hidden"] {
		display: none;
	}

	&[type="color"] {
		@include square(40px);
		overflow: hidden;
		padding: 2px;
	}

	&[type="password"] {
		font-family: sans-serif;
	}

	&[type="range"] {
		width: 100%;
	}
}

// Help out input buttons
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	width: auto;
	cursor: pointer;
	-webkit-appearance: button;
}


// Set the height of select and file controls to match text inputs
select {
	// Chrome on Linux and Mobile Safari need background-color
	background-color: $input-background;

	// Make multiple select elements height not fixed
	&[multiple],
	&[size] {
		height: auto;
	}

}


// Make textarea height behave
textarea {
	height: auto;
	resize: vertical;
}


// Groups of fields with labels on top (legends)
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: $base-line-height + px;
	@include font-size($base-font-size * 1.5);
	line-height: $base-leading;
	color: $label-color;
	border: 0;
	border-bottom: 1px solid #eee;
	white-space: normal;

	// Small
	& small {
		@include font-size($base-font-size * .75);
		color: lighten(#000, 70%);
	}
}


// CHECKBOXES & RADIOS
// -------------------
// <label class="checkbox">
// 	<input type="checkbox" value="">
// 	label name
// </label>
//
// <label class="radio">
// 	<input type="radio" value="">
// 	label name
// </label>
.radio,
.checkbox {
	padding-left: 18px;

	& input[type="radio"],
	& input[type="checkbox"] {
		margin-left: -18px;
		margin-right: 5px;
		vertical-align: middle;
		display: inline;
	}
}
	// Radios and checkboxes on same line
	.control--inline {
		display: inline-block;
		padding-top: 5px;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.control--inline + .control--inline {
		margin-left: 10px; // space out consecutive inline controls
	}


// Move the options list down to align with labels
.form-controlGroup-input {
	& > .radio:first-child,
	& > .checkbox:first-child {
		padding-top: 5px; // has to be padding because margin collapses
	}
}



// FOCUS STATE
// -----------
input,
textarea,
.fileWrapper {
	// Multiple arguments cannot be used inside a mixin if the mixin has not specified it, hence the need for a new $transtion var
	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	@include transition;
}

input,
textarea {
	&:focus {
		border-color: rgba(82,168,236,.8);
		$shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(82,168,236,.6);
		@include box-shadow($shadow);
		outline: 0;
		outline: none; // IE6-9
	}
}

input[type="file"],
input[type="radio"],
input[type="checkbox"],
select {
	&:focus {
		@include box-shadow(none); // override for file inputs
		@include tab-focus;
	}
}


// === INPUT SIZES ===
// ===================
// General classes for quick sizes
.input--mini       { width: 60px;  }
.input--small      { width: 90px;  }
.input--medium     { width: 150px; }
.input--large      { width: 210px; }
.input--xlarge     { width: 270px; }
.input--xxlarge    { width: 530px; }

// Grid style input sizes
input,
select,
textarea {
	&[class*="span"] {
		float: none;
		margin-left: 0;
	}
}

.fileWrapper input {
	width: 90%;
	line-height: 0;
}

// DISABLED STATE
// --------------
// Disabled and read-only inputs
input,
select,
textarea {
	&[disabled],
	&[readonly] {
		background-color: $input-disabled-background;
		border-color: #ddd;
		cursor: not-allowed;
	}

	// HTML5 invalid states
	// Shares styles with the .form--control-group.error above
	&:focus:required:invalid {
		color: #b94a48;
		border-color: #ee5f5b;
		&:focus {
			border-color: darken(#ee5f5b, 10%);
			@include box-shadow(0 0 6px lighten(#ee5f5b, 20%));
		}
	}
}







/*
   Both horizontal & vertical forms
   ========================================================================== */
.form--inline,
.form--horizontal {

	& input,
	& textarea,
	& select,
	& .form-helpInline {
		display: inline-block;
		margin-bottom: 0;
	}

	// Re-hide hidden elements due to specifity
	& .hide {
		display: none;
	}
}



/*
   Inline & search forms specific styles
   ========================================================================== */
.form--inline {

	// Give all elements some space
	& > * {
		margin-right: 10px;
		vertical-align: top;

		&:last-child {
			margin-right: 0;
		}
	}

	& label {
		display: inline-block;
	}

	// Inline checkbox/radio labels (remove padding on left)
	& .radio,
	& .checkbox {
		padding-left: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}

	// Remove left margin
	& .radio input[type="radio"],
	& .checkbox input[type="checkbox"] {
		margin-left: 0;
		margin-right: 3px;
	}
}

/*
   Search input
   ========================================================================== */
.form--search-input {
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 0; // remove the default margin on all inputs
	@include border-radius(100px);
}


/*
   Form actions
   ========================================================================== */
.form-actions {
	padding: ($base-line-height - 1 + px) 20px ($base-line-height + px);
	margin-top: $base-line-height + px;
	margin-bottom: $base-line-height + px;
	background-color: $form-actions-background;
	border-top: 1px solid #ddd;
	@include clearfix(); // Adding clearfix to allow for .pull-right button containers

	& .btn {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}



/*
   Form field feedback states
   ========================================================================== */
// Warning
.form-controlGroup.form-controlGroup--warning {
	@include formFieldState($warning-text, $warning-text, $warning-background);
}

// Error
.form-controlGroup.form-controlGroup--error {
	@include formFieldState($error-text, $error-text, $error-background);
}

// Success
.form-controlGroup.form-controlGroup--success {
	@include formFieldState($success-text, $success-text, $success-background);
}


/*
   Placeholder text
   * Gets special styles; can't be bundled together though for some reason
   ========================================================================== */
@include placeholder($placeholder-text);



// HELP TEXT
// ---------
.form-helpBlock,
.form-helpInline {
	color: $gray; // lighten the text some for contrast
}

.form-helpBlock {
	display: block; // account for any element using help-block
	margin-bottom: $base-line-height / 2 + px;
}

.form-helpInline {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}

// === <$breakpoint-single-col ===
@include respond-min($breakpoint-single-col) {
	/* ==========================================================================
	   Horizontal-specific styles
	   * add .form--horizontal to the <form> element
	   * Demo: http://tmwagency.github.io/kickoff/demos/forms.html#layout-example-labels-inline
	   * Code: https://gist.github.com/mrmartineau/6712577#file-labels-inline-html
	   ========================================================================== */
	.form--horizontal {

		// Increase spacing between groups
		& .form-controlGroup {
			margin-bottom: $base-line-height + px;
			@include clearfix();
		}

		// Float the labels left
		& .form-controlGroup-label {
			float: left;
			width: 140px;
			padding-top: 5px;
			text-align: right;
		}

		// Move over all input controls and content
		& .form-controlGroup-input {
			margin-left: 160px;

			&:first-child {
				*padding-left: 160px;
			}
		}

		& .form-controlGroup .fileWrapper {
			margin-left: 0;
		}

		// Remove bottom margin on block level help text since that's accounted for on .form--control-group
		& .form-helpBlock {
			margin-top: $base-line-height / 2 + px;
			margin-bottom: 0;
		}

		// Move over buttons in .form-actions to align with .form-controlGroup-input
		& .form-actions {
			padding-left: 160px;
		}
	}
}
// === end <$breakpoint-single-col ===
